/* Use light background color in barcode dialogue. */
.barcode-dialog
{
  color: rgba(0, 0, 0, 0.8); /* @window_fg_color of Adwaita's light variant */
  background-color: white;
}

/* Do not highlight the selected menu row when the leaflet is folded. */
.folded row:selected:not(:hover):not(:active)
{
  background-color: transparent;
}

/* This is a workaround for the following issue: "Placeholder causes additional
   divider on boxed list" (https://gitlab.gnome.org/GNOME/gtk/-/issues/5309). */
.list-box-with-placeholder > row:nth-last-child(2)
{
  border-bottom: 0;
}

.rounded
{
  border-radius: 6px;
}
